body {
  background-image: url("../images/night-sky.jpg");
  background-size: 100%;
}

.about-me {
  margin-bottom: 100px;
  display: none;
}

.profile-container {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

.profile-pic {
  clip-path: circle(50% at 50% 50%);
  margin: 120px 0px 0px 0px;
  height: 350px;
  width: auto;
}

.header {
  /* font-family: BrownhillScript; */
  font-size: 50px;
  color: whitesmoke;
  /* text-shadow: 1px 1px 4px #000000; */
  margin: 60px 0px 0px 0px;
}

.lead {
  font-size: 20px;
  color: whitesmoke;
  text-shadow: 1px 1px 4px #000000;
  margin: 30px 0px 20px 20px;
}

.video-btn,
.code-btn {
  margin: 20px 10px 0px 10px;
  /* text-shadow: 1px 1px 4px #000000; */
}

.fun-facts-container {
  margin: 80px 5px 10px 40px;
  opacity: 0.8;
}

.fun-facts {
  color: whitesmoke;
}
